<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @movie.text %>
</p>

<p>
  <strong>Categories:</strong>
  <% @movie.categories.each do |category| %>
      <li><%= category.name %></li>
  <%end%>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
